.ap
{
    box-shadow: 0 2px 8px #f0f1f2;
}
.menu-item{
    height:80px;
    float:right;
    width:60px;
    text-align: center;
}
.logo-image{
    float: left;
    width: 60px;
    height: 80px;
    background: rgba(255, 255, 255, 0.3);
}
